{% extends "inventory_management/base.html" %}

{% block content %}
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>Code</td>
      <td>Price</td>
      <td>Category</td>
      <td>Description</td>
      <td>
        <a
          href="{% url 'inventory_management_create' %}"
          class="btn btn-outline-success"
        >
          <i class="fas fa-plus"></i> Add New
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory_management_list %}
    <tr>
      <td>{{item.code}}</td>
      <td>{{item.price}}</td>
      <td>{{item.category}}</td>
      <td>{{item.description}}</td>
      <td>
        <a
          href="{% url 'inventory_management_update' item.id %}"
          class="btn text-secondary px-0"
        >
          <i class="far fa-edit fa-lg"></i>
        </a>
        <form
          action="{% url 'inventory_management_delete' item.id %}"
          method="post"
          class="d-inline"
        >
          {% csrf_token %}
          <button type="submit" class="btn">
            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
